@font-face {
    font-family: myFirstFont;
    src: url('./assets/blood-drenched-cufonfonts//BloodDrenchedLeftalic-WyPJv.otf');
}

h1 {
    font-family: myFirstFont, sans-serif;
    font-weight: 200;
    color: #0ccac4;
}